<mat-nav-list>
  <div class="flex p-3 flex-col justify-center items-center">
    <div class="text-center">
      <h2>{{ getNameCurrentUser() }}</h2>
      <h4>{{ getEmailCurrentUser() }}</h4>
    </div>
    <input type="file" class="hidden" (change)="onSelect($event)" #fileUpload />
    <div class="relative" (click)="fileUpload.click()" id="teste">
      <img
        class="w-20 h-20 object-cover rounded-full"
        [src]="imgUrl"
        alt="avatar"
      />
      <div
        class="flex flex-col justify-center items-center w-20 h-20 absolute bg-white/50 bottom-0 cursor-pointer rounded-full hidden"
      >
        <mat-icon *ngIf="!load">photo_camera</mat-icon>
        <mat-spinner *ngIf="load" class="!w-5 !h-5"></mat-spinner>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader class="!my-2">Paginas</h2>

  <mat-list-item>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home"
      >Dashboard</a
    >
  </mat-list-item>

  <app-nav-list [expandable]="true" [title]="'Aluno'">
    <mat-list-item routerLink="/student">Lista de Alunos</mat-list-item>
    <mat-list-item routerLink="/student">Relatório</mat-list-item>
    <mat-list-item routerLink="/student">Criar</mat-list-item>
    <mat-divider></mat-divider>
  </app-nav-list>

  <app-nav-list [expandable]="true" [title]="'Sala'">
    <mat-list-item routerLink="/room">Lista de Salas</mat-list-item>
    <mat-list-item routerLink="/room">Relatório</mat-list-item>
    <mat-list-item routerLink="/room">Criar</mat-list-item>
    <mat-divider></mat-divider>
  </app-nav-list>

  <mat-divider></mat-divider>

  <h2 matSubheader class="!my-2">Configurações</h2>

  <mat-list-item>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
      <mat-icon class="!align-middle mr-3">import_contacts</mat-icon>
      Contato
    </a>
  </mat-list-item>

  <mat-list-item>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
      <mat-icon class="!align-middle mr-3">contact_phone</mat-icon>
      Leads
    </a>
  </mat-list-item>

  <mat-list-item>
    <a mat-list-item routerLinkActive="list-item-active" (click)="logout()">
      <mat-icon class="!align-middle mr-3">exit_to_app</mat-icon>
      Sair
    </a>
  </mat-list-item>
</mat-nav-list>
